.login {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    padding-bottom: 7rem;
}

.login__card{
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.login__titles{
    text-align: center;
}

.login__title {
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 50px;
    color: #FE1936;


}
.login__subtitle {
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 30px;
    color: #302F2F;


}

.footer__cicle{
    position: fixed;
    left: calc(50vw - 58px);
    bottom: -10px;
    z-index: 5;
}

.footer__strips{
    position: fixed;
    width: 100vw;
    height: 154px;
    left: 0;
    bottom: 0;
    z-index: 4;
    background-image: url('../../assets/img/poke_strips.svg');
    background-repeat: repeat-x;
}